body{
		color: ;
		background: url(header/глубина1.png);
		 background-repeat: no-repeat; 


}

.float {
      responsive: true;
      property: float;
}
.img-fluid1{
	max-width: 80%;
	height: auto;
	margin: 10%;
}
.img-fluid2{
	max-width: 100%;
	height: auto;
	margin: 10%;
}
img {
 padding: 4px;
background-color: #fff;
border-radius: 4px;
        }

        img:hover {
            opacity: 0.6;
            filter: alpha(opacity=60);
        }
.img-fluid3{
	max-width: 100%;
	height: auto;
	margin: 10%;
}
.p-2{
	float: right;
		max-width: 100%;
	height: auto;
}
.p-2-3{
	float: right;
		max-width: 100%;
	height: auto;
}
.p-2-4{
	float: right;
		max-width: 100%;
	height: auto;
}
.img-fluid4{
	max-width: 80%;
	height: auto;
	margin: 10%;
	margin-left: 30%;
}